<h2>Update Employee</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      class="form-control"
      [(ngModel)]="employee.firstName"
      name="firstName"
      required
    />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      class="form-control"
      [(ngModel)]="employee.lastName"
      name="lastName"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      class="form-control"
      [(ngModel)]="employee.emailId"
      name="email"
      required
    />
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Update</button>
  <button
  class="btn btn-danger"
  (click)="onDelete(employee.id)">
  Delete
</button>
</form>

<!-- Success message -->
<div *ngIf="successMessage" class="alert alert-success mt-3">
  {{ successMessage }}
</div>
